.about {
  width: 100%;
  height: 100%;
  padding: 13% 0;
  background-color: #4d4d4d;
  color: white;
}

.aboutWrapper {
  padding: 0 clamp(2rem, 1.1351rem + 4.3243vw, 6rem);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutParagraph {
  text-align: center;
  font-size: clamp(1rem, 0.8919rem + 0.5405vw, 1.5rem);
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;

  a {
    color: goldenrod;
    text-decoration: none;
  }

  a:link {
    color: goldenrod;
  }
  a:hover {
    color: green;
  }
  a:visited {
    color: lightblue;
  }

  .BoxTitle {
    min-width: clamp(19rem, 16.9459rem + 10.2703vw, 28.5rem);
    max-width: clamp(19rem, 16.9459rem + 10.2703vw, 28.5rem);
    max-height: clamp(19rem, 16.9459rem + 10.2703vw, 28.5rem);
    min-height: clamp(19rem, 16.9459rem + 10.2703vw, 28.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid goldenrod 40px;
    background-color: white;
    h2 {
      font-size: 180px;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: black;
      stroke: black;
      color: goldenrod;
    }
  }
  p {
    line-height: 30px;
    margin-left: 70px;
    text-align: left;
    letter-spacing: 1px;
    font-family: $fontBodyType;
  }
}
h2 {
  font-size: clamp(1.5rem, 1.0676rem + 2.1622vw, 3.5rem);
}
@media only screen and (max-width: 1325px) {
  .aboutParagraph .BoxTitle {
    display: none;
  }

  .aboutParagraph p {
    margin: 0;
    padding: 30px 70px;
  }

  .aboutWrapper {
    padding: 0;
  }
}
